<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <img class="img-logo" src="../../assets/cabacityTourLogot2.png" alt="">
      </ion-col>
      <ion-col size="8">
        <ion-row>
          <div class="div-imgs">
            <img style="width: 53%;" src="../../assets/unifacisaLogot2.png" alt="">
            <img style="width: 47%;" src="../../assets/sebraeLogot2.png" alt="">
          </div>

        </ion-row>
        <ion-row>
          <div class="div-imgs">
            <img style="width: 20%;" src="../../assets/brasaocabt2.png" alt="">
            <img style="width: 80%;" src="../../assets/labelcapt2.png" alt="">
          </div>

        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div id="container">

    <ion-text class="text-title">
      <h1>{{ 'form-title' | translate }}</h1>
    </ion-text>
    <form role="form" [formGroup]="formGuestBook" (ngSubmit)="onSubmit()">

      <ion-item lines="none" class="item-input">
        <ion-input formControlName="nomeDoVisitante" label="{{'label-name' | translate}}" labelPlacement="floating"></ion-input>
      </ion-item>

      <div class="text-error"
        *ngIf="formGuestBook.get('nomeDoVisitante')?.hasError('required') && formGuestBook.get('nomeDoVisitante')?.touched">
        <ion-text color="danger">{{'error-name' | translate}}</ion-text>
      </div>

      <ion-item lines="none">
        <ion-select formControlName="pais" label="{{'label-contrie' | translate}}" label-placement="floating" (ionChange)="selectedContrie()">
          <ion-select-option *ngFor="let contrie of listCoutries"
            [value]="contrie.name">{{contrie.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="text-error"
        *ngIf="formGuestBook.get('pais')?.hasError('required') && formGuestBook.get('pais')?.touched">
        <ion-text color="danger">{{'error-contrie' | translate}}</ion-text>
      </div>

      <ion-item lines="none" *ngIf="this.formGuestBook.value.pais === 'Brasil'">
        <ion-select formControlName="estado" label="{{'label-state' | translate}}" label-placement="floating" (ionChange)="selectedState()">
          <ion-select-option *ngFor="let state of listState" [value]="state.nome">{{state.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="text-error"
        *ngIf="formGuestBook.get('estado')?.hasError('required') && formGuestBook.get('estado')?.touched">
        <ion-text color="danger">{{'error-state' | translate}}</ion-text>
      </div>

      <ion-item lines="none" *ngIf="this.formGuestBook.value.pais === 'Brasil'">
        <ion-select formControlName="cidade" label="{{'label-city' | translate}}" label-placement="floating">
          <ion-select-option *ngFor="let city of listCities" [value]="city">{{city}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="text-error"
        *ngIf="formGuestBook.get('cidade')?.hasError('required') && formGuestBook.get('cidade')?.touched">
        <ion-text color="danger">{{'error-city' | translate}}</ion-text>
      </div>

      <ion-item lines="none">
        <ion-input formControlName="email" type="email" label="{{'label-email' | translate}}" labelPlacement="floating"></ion-input>
      </ion-item>

      <div class="text-error"
        *ngIf="formGuestBook.get('email')?.hasError('required') && formGuestBook.get('email')?.touched">
        <ion-text color="danger">{{'error-email' | translate}}</ion-text>
      </div>

      <div class="text-error"
        *ngIf="formGuestBook.get('email')?.hasError('email') && formGuestBook.get('email')?.touched">
        <ion-text color="danger">{{'error-email2' | translate}}</ion-text>
      </div>

      <ion-item lines="none">
        <ion-textarea formControlName="motivoDaViagem" label="{{'label-reason-trip' | translate}}"
          labelPlacement="floating"></ion-textarea>
      </ion-item>

      <div class="text-error"
        *ngIf="formGuestBook.get('motivoDaViagem')?.hasError('required') && formGuestBook.get('motivoDaViagem')?.touched">
        <ion-text color="danger">{{'label-reason-trip' | translate}}</ion-text>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="large" color="medium" class="btn-submit" type="button" expand="block"
              (click)="goBack()">{{'btn-back' | translate}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button size="large" class="btn-submit" expand="block" type="submit"
              [disabled]="formGuestBook.invalid">{{'btn-save' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </form>
  </div>

</ion-content>