<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>frameImage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">frameImage</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <input type="file" id="select-account-image" class="input-file" accept="image/*" (change)="handleFileSelect($event)"/>
    <ion-button expand="block" >Imagem</ion-button>
  </div>
</ion-content>
